<div *ngIf="showEmployeeScreen">
    <p>Hi {{firstAndLastName}},</p>
    <p>Welcome to The Silent Partner Employee Portal!</p>
    <p></p>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#summary1">Summary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#paySlips">Pay Slips</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#training">Training</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#availableForms">Available Forms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#importantLinks">Important Links</a>
        </li>
    </ul>
    <p></p>
    <div class="tab-content">
        <div class="tab-pane container active" id="summary1">
            Summary
        </div>
        <div class="tab-pane container fade" id="paySlips">
            A list of pay slips - future - place holder only
        </div>
        <div class="tab-pane container fade" id="training">
            A summary of completed training modules - a place holder only - for future
        </div>
        <div class="tab-pane container fade" id="availableForms">
            <div class="row">
                <div class="col-md-6">
                    <label> Search by User Name : </label>
                    <input type="text" class="form-control"
                        (input)="showDataByPage('search', 0, 'employeeForms', $event.target.value)" />
                </div>
            </div>
            <p></p>
            <table class="table table-condensed table-hover table-bordered">
                <thead class="thead-light">
                    <th></th>
                    <th>Form Name</th>
                    <!-- <th>Action</th> -->
                </thead>
                <tbody>
                    <tr *ngFor="let availableForm of availableForms;let i = index" [routerLink]="['../employeeForm']"
                        [queryParams]="{formPath: availableForm.path}" style="cursor: pointer;">
                        <td>{{i+1}}</td>
                        <td>{{availableForm.title}}</td>
                        <!-- <td><a [routerLink]="['../employeeForm']" [queryParams]="{formPath: availableForm.path}">Link</a></td> -->
                    </tr>
                </tbody>
            </table>
            <ul class="pagination justify-content-center">
                <li class="page-item" *ngIf="showFirst">
                    <div class="page-link active" (click)="showDataByPage('first', 0, 'employeeForms', '')">First</div>
                </li>
                <li class="page-item" *ngIf="showPrevious">
                    <div class="page-link active" (click)="showDataByPage('previous', 10, 'employeeForms', '')">Previous
                    </div>
                </li>
                <li class="page-item" *ngFor="let times of ' '.repeat(totalPages).split('');let i = index">
                    <div class="page-link active" (click)="showDataByPage('', i+'0', 'employeeForms', '')">{{i+1}}</div>
                </li>
                <li class="page-item" *ngIf="showNext">
                    <div class="page-link active" (click)="showDataByPage('next', 10, 'employeeForms', '')">Next</div>
                </li>
                <li class="page-item" *ngIf="showLast">
                    <div class="page-link active" (click)="showDataByPage('last', 0, 'employeeForms', '')">Last</div>
                </li>
            </ul>
        </div>
        <div class="tab-pane container fade" id="importantLinks">
            <!-- <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul> -->
        </div>
    </div>
</div>

<div *ngIf="loading" class="loading">Loading&#8230;</div>