<div *ngIf="showCustomerScreen">
    <p>Account Name : {{accountDetails?.accountName}}</p>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#users">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#account">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#billing">Billing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#services" (click)="getAccountServices()">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#support">Support</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="users">
            <p></p>
            <div class="row">
                <div class="col-md-6">
                    <label> Search by Customer User Name : </label>
                    <input type="text" class="form-control"
                        (input)="showDataByPage('search', 0, 'customers', $event.target.value)" />
                </div>
            </div>
            <p></p>
            <table class="table table-condensed table-bordered table-hover">
                <thead>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr class="current-user">
                        <td>{{accountDetails?.userName.data.userName}}</td>
                        <td>{{accountDetails?.userName.data.email}}</td>
                        <td>admin</td>
                        <td>Current User</td>
                        <td><span class="link"
                                (click)="editChildCustomer('parent', accountDetails?.userName?._id)">Edit</span> | <a
                                href="#" class="text-muted"
                                style="pointer-events: none;cursor: default;text-decoration: none;">Disable</a> | <span
                                [routerLink]="['../submitCustomerResetPassword']" class="link"
                                [queryParams]="{login: 'true', accountId: accountId, customerId: accountDetails?.userName?._id}">Change
                                Password</span></td>
                    </tr>
                    <tr *ngFor="let customerUser of customerUser;let i = index">
                        <td>{{customerUser?.data?.customer?.data?.userName}}</td>
                        <td>{{customerUser?.data?.customer?.data?.email}}</td>
                        <td>{{customerUser?.data?.role}}</td>
                        <td>{{customerUser?.data?.customer?.data?.status}}</td>
                        <td>
                            <span class="link" (click)="editChildCustomer('child', customerUser?.data?.customer?._id)">Edit</span> | 
                            <span *ngIf="customerUser?.data?.customer?.data?.status == 'Active'" class="link" (click)="disableCustomer(customerUser?.data?.customer?._id, i)">Disable | </span>
                            <span *ngIf="customerUser?.data?.customer?.data?.status == 'Inactive'" class="link" (click)="enableCustomer(customerUser?.data?.customer?._id, i)">Enable | </span>
                            <span [routerLink]="['../submitCustomerResetPassword']" class="link"
                                [queryParams]="{login: 'true', accountId: accountId, customerId: customerUser?.data?.customer?._id}">Change Password</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination justify-content-center">
                <li class="page-item" *ngIf="showFirst">
                    <div class="page-link active" (click)="showDataByPage('first', 0, 'customers', '')">First</div>
                </li>
                <li class="page-item" *ngIf="showPrevious">
                    <div class="page-link active" (click)="showDataByPage('previous', 10, 'customers', '')">Previous
                    </div>
                </li>
                <li class="page-item" *ngFor="let times of ' '.repeat(totalPages).split('');let i = index">
                    <div class="page-link active" (click)="showDataByPage('', i+'0', 'customers', '')">{{i+1}}</div>
                </li>
                <li class="page-item" *ngIf="showNext">
                    <div class="page-link active" (click)="showDataByPage('next', 10, 'customers', '')">Next</div>
                </li>
                <li class="page-item" *ngIf="showLast">
                    <div class="page-link active" (click)="showDataByPage('last', 0, 'customers', '')">Last</div>
                </li>
            </ul>
            <div class="btn btn-primary" [routerLink]="['../createUpdateCustomer']"
                [queryParams]="{accountId: accountId}">
                Create Customer</div>
        </div>
        <p></p>
        <p></p>
        <div class="tab-pane container" id="account">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#accountDetails">Account Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#registeredOffice">Registered Office</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#principalPlaceOfBusiness">Principal Place of
                        Business</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#mainOfficeHolder">Main Office Holder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#principalContact">Principal Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" (click)="getPayment()" href="#paymentInformation">Payment
                        Information</a>
                </li>
            </ul>
            <p></p>
            <div class="tab-content">
                <div class="tab-pane container active" id="accountDetails">
                    <table class="table table-condensed table-bordered">
                        <tr>
                            <th>Account Name</th>
                            <td>{{accountDetails?.accountName}}</td>
                        </tr>
                        <tr>
                            <th>Company Name</th>
                            <td>{{accountDetails?.companyName}}</td>
                        </tr>
                        <tr>
                            <th>ABN</th>
                            <td>{{accountDetails?.abn}}</td>
                        </tr>
                        <tr>
                            <th>Trading Name</th>
                            <td>{{accountDetails?.tradingName}}</td>
                        </tr>
                    </table>
                    <p><button class="btn btn-primary" [routerLink]="['../createOrUpdateCustomerAccount']"
                            [queryParams]="{accountId: accountId}">Edit Account</button></p>
                </div>
                <div class="tab-pane container" id="registeredOffice">
                    <table class="table table-condensed table-bordered">
                        <tr>
                            <th>Address Line 1</th>
                            <td>{{accountDetails?.registeredOfficeAddressLine1}}</td>
                        </tr>
                        <tr>
                            <th>Address Line 2</th>
                            <td>{{accountDetails?.registeredOfficeAddressLine2}}</td>
                        </tr>
                        <tr>
                            <th>City/Suburb</th>
                            <td>{{accountDetails?.registeredOfficeCity}}</td>
                        </tr>
                        <tr>
                            <th>State</th>
                            <td>{{accountDetails?.registeredOfficeState}}</td>
                        </tr>
                        <tr>
                            <th>Post Code</th>
                            <td>{{accountDetails?.registeredOfficePostcode}}</td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td>{{accountDetails?.registeredOfficeCountry}}</td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane container" id="principalPlaceOfBusiness">
                    <table class="table table-condensed table-bordered">
                        <tr>
                            <th>Address Line 1</th>
                            <td>{{accountDetails?.placeBusinessAddressLine1}}</td>
                        </tr>
                        <tr>
                            <th>Address Line 2</th>
                            <td>{{accountDetails?.placeBusinessAddressLine2}}</td>
                        </tr>
                        <tr>
                            <th>City/Suburb</th>
                            <td>{{accountDetails?.placeBusinessCity}}</td>
                        </tr>
                        <tr>
                            <th>State</th>
                            <td>{{accountDetails?.placeBusinessState}}</td>
                        </tr>
                        <tr>
                            <th>Post Code</th>
                            <td>{{accountDetails?.placeBusinessPostcode}}</td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td>{{accountDetails?.placeBusinessCountry}}</td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane container" id="mainOfficeHolder">
                    <table class="table table-condensed table-bordered">
                        <tr>
                            <th>First Name</th>
                            <td>{{accountDetails?.mainOfficeHolderFirstName}}</td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td>{{accountDetails?.mainOfficeHolderLastName}}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{accountDetails?.mainOfficeHolderEmail}}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{accountDetails?.mainOfficeHolderPhone}}</td>
                        </tr>
                        <tr>
                            <th>Director</th>
                            <td>{{accountDetails?.mainOfficeHolderDirector}}</td>
                        </tr>
                        <tr>
                            <th>Secretary</th>
                            <td>{{accountDetails?.mainOfficeHolderSecretary}}</td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane container" id="principalContact">
                    <table class="table table-condensed table-bordered">
                        <tr>
                            <th>First Name</th>
                            <td>{{accountDetails?.principalContactFirstName}}</td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td>{{accountDetails?.principalContactLastName}}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{accountDetails?.principalContactEmail}}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{accountDetails?.principalContactPhone}}</td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane container fade" id="paymentInformation">
                    <div *ngIf="cardType">
                        <table class="table table-condensed table-bordered">
                            <thead class="thead-light">
                                <th>Payment By AMEX/Visa/MasterCard</th>
                                <th>**** ***** {{paymentInformation?.data?.panel2CardNumber}}</th>
                                <th>{{paymentInformation?.data?.day}}</th>
                                <th>Active</th>
                                <th (click)="updatePayment(paymentInformation._id)" class="link">Update/Change Payment
                                    Authorisation
                                </th>
                            </thead>
                        </table>
                    </div>
                    <div *ngIf="directDebitType">
                        <table class="table table-condensed table-bordered">
                            <thead class="thead-light">
                                <th>Payment By Direct Debit</th>
                                <th>
                                    {{paymentInformation.data.bankName}}<br>
                                    BSB: {{paymentInformation.data.bsb}}<br>
                                    Account No: {{paymentInformation.data.panelAccountNumber}}
                                </th>
                                <th>Active</th>
                                <th (click)="updatePayment(paymentInformation._id)" class="link">Update/Change Payment
                                    Authorisation
                                </th>
                            </thead>
                        </table>
                    </div>
                    <div *ngIf="expiredType">
                        <table class="table table-condensed table-bordered ">
                            <tr class="alert-danger font-weight-bold">
                                <td>Payment By Visa/American Express</td>
                                <td>**** ****** *7387</td>
                                <td>12/18</td>
                                <td>Expired</td>
                                <td>Update/Change Payment Authorisation</td>
                            </tr>
                        </table>
                    </div>
                    <div *ngIf="noPaymentMethod">
                        <table class="table table-condensed table-bordered">
                            <thead class="thead-light">
                                <th>There is no payment authorisation in place</th>
                                <th><a (click)="newPayment()">New Payment Authorisation</a></th>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane container fade" id="billing">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#summary2">Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#invoices">Invoices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#payments">Payments</a>
                </li>
            </ul>
            <p></p>
            <div class="tab-content">
                <div class="tab-pane container active" id="summary2">
                    <table class="table table-condensed table-bordered table-hover">
                        <tr>
                            <th>Billing Contact</th>
                            <td>Bob Smith</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>555 77 854</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>bobsmith@example.com</td>
                        </tr>
                        <tr>
                            <th>Email for Invoices</th>
                            <td>bobsmith@work.com</td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane container fade" id="invoices">
                    <div class="alert alert-warning">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>This is a summary of all the invoices for this account. There would be a link where each
                            invoice can be downloaded. At the bottom there would be a link where the user could download
                            a csv table of all invoices</span>
                    </div>
                    <table class="table table-condensed table-hover table-bordered">
                        <thead class="thead-light">
                            <th>Date</th>
                            <th>Invoice Number</th>
                            <th>Invoice Value</th>
                            <th>Download</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1/12/18</td>
                                <td>876789</td>
                                <td>$99.99</td>
                                <td><a href="#">Link</a></td>
                            </tr>
                            <tr>
                                <td>1/12/18</td>
                                <td>876789</td>
                                <td>$99.99</td>
                                <td><a href="#">Link</a></td>
                            </tr>
                            <tr>
                                <td>1/12/18</td>
                                <td>876789</td>
                                <td>$99.99</td>
                                <td><a href="#">Link</a></td>
                            </tr>
                            <tr>
                                <td>1/12/18</td>
                                <td>876789</td>
                                <td>$99.99</td>
                                <td><a href="#">Link</a></td>
                            </tr>
                            <tr>
                                <td>1/12/18</td>
                                <td>876789</td>
                                <td>$99.99</td>
                                <td><a href="#">Link</a></td>
                            </tr>
                            <tr>
                                <td>1/12/18</td>
                                <td>876789</td>
                                <td>$99.99</td>
                                <td><a href="#">Link</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Download CSV summary table</p>
                </div>
                <div class="tab-pane container fade" id="payments">
                    <div class="alert alert-warning">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>This is a summary of all payments for this account. At the bottom there would be a link
                            where the user could download a csv table of all payments.</span>
                    </div>
                    <table class="table table-condensed table-hover table-bordered">
                        <thead class="thead-light">
                            <th>Payment Date</th>
                            <th>Payment ID</th>
                            <th>Payment Value</th>
                            <th>Payment Method</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1/12/18</td>
                                <td>876789</td>
                                <td>$99.99</td>
                                <td>Visa ***3567</td>
                            </tr>
                            <tr>
                                <td>1/12/18</td>
                                <td>876789</td>
                                <td>$99.99</td>
                                <td>Visa ***3567</td>
                            </tr>
                            <tr>
                                <td>1/12/18</td>
                                <td>876789</td>
                                <td>$99.99</td>
                                <td>Visa ***3567</td>
                            </tr>
                            <tr>
                                <td>1/12/18</td>
                                <td>876789</td>
                                <td>$99.99</td>
                                <td>Visa ***3567</td>
                            </tr>
                            <tr>
                                <td>1/12/18</td>
                                <td>876789</td>
                                <td>$99.99</td>
                                <td>Visa ***3567</td>
                            </tr>
                            <tr>
                                <td>1/12/18</td>
                                <td>876789</td>
                                <td>$99.99</td>
                                <td>Visa ***3567</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Download csv summary table</p>
                </div>
            </div>
        </div>
        <div class="tab-pane container fade" id="services">
            <p></p>
            <p><button class="btn btn-primary" [routerLink]="['../createAccountService']"
                    [queryParams]="{accountId: accountId}">Create Service</button></p>
            <table class="table table-condensed table-hover table-bordered">
                <thead class="thead-light">
                    <!-- <th>ServiceID</th> -->
                    <th>Service Type</th>
                    <th>Service Name</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let callAnsweringService of callAnsweringServices"
                        [routerLink]="['../callAnsweringHome']"
                        [queryParams]="{serviceId: callAnsweringService._id, accountId: accountId}"
                        style="cursor: pointer;">
                        <!-- <td>7895</td> -->
                        <td>Call Answering</td>
                        <td>{{callAnsweringService?.data?.serviceName}}</td>
                        <td>
                            <div class="link" [routerLink]="['../updateAccountService']"
                                [queryParams]="{serviceId: callAnsweringService._id, type: 'callAnswering', accountId: accountId}">
                                Edit</div>
                        </td>
                    </tr>
                    <tr *ngFor="let addressService of addressLicenseServices" [routerLink]="['../addressLicenseHome']"
                        [queryParams]="{serviceId: addressService._id, accountId: accountId}" style="cursor: pointer;">
                        <!-- <td>7895</td> -->
                        <td>{{addressService?.data?.serviceType}}</td>
                        <td>{{addressService?.data?.addressServiceName}}</td>
                        <td>
                            <div class="link" [routerLink]="['../updateAccountService']"
                                [queryParams]="{serviceId: addressService._id, type: 'addressLicence', accountId: accountId}">
                                Edit</div>
                        </td>
                    </tr>
                    <tr *ngFor="let liveChatService of liveChatServices" [routerLink]="['../liveChatHome']"
                        [queryParams]="{serviceId: liveChatService._id, accountId: accountId}" style="cursor: pointer;">
                        <!-- <td>7895</td> -->
                        <td>Live Chat</td>
                        <td>{{liveChatService?.data?.serviceName}}</td>
                        <td>
                            <div class="link" [routerLink]="['../updateAccountService']"
                                [queryParams]="{serviceId: liveChatService._id, type: 'liveChat', accountId: accountId}">
                                Edit</div>
                        </td>
                    </tr>
                    <tr *ngFor="let emailProcessingService of emailProcessingServices"
                        [routerLink]="['../emailProcessingHome']"
                        [queryParams]="{serviceId: emailProcessingService._id, accountId: accountId}"
                        style="cursor: pointer;">
                        <!-- <td>7895</td> -->
                        <td>Email Processing</td>
                        <td>{{emailProcessingService?.data?.emailServiceName}}</td>
                        <td>
                            <div class="link" [routerLink]="['../updateAccountService']"
                                [queryParams]="{serviceId: emailProcessingService._id, type: 'email', accountId: accountId}">
                                Edit</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane container" id="support">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#resources">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#requests">Requests</a>
                </li>
            </ul>
            <p></p>
            <div class="tab-content">
                <div class="tab-pane container active" id="resources">
                    Resources
                </div>
                <div class="tab-pane container fade" id="requests">
                    <table class="table table-condensed table-hover table-bordered">
                        <thead class="thead-light">
                            <th>Request ID</th>
                            <th>Creation Date</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email Address</th>
                            <th>Contacted Via</th>
                            <th>Subject</th>
                            <th>Open / Closed</th>
                            <th>Status</th>
                            <th>Category</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>223344</td>
                                <td>22 Jan 2017</td>
                                <td>Mary</td>
                                <td>Poppins</td>
                                <td>test@test.com</td>
                                <td>email</td>
                                <td>This is a test subject line</td>
                                <td>Open</td>
                                <td>Open : Work in Progress</td>
                                <td>Account General</td>
                            </tr>
                            <tr>
                                <td>222344</td>
                                <td>15 Dec 2018</td>
                                <td>Mary</td>
                                <td>Poppins</td>
                                <td>test@test.com</td>
                                <td>email</td>
                                <td>This is another test subject line</td>
                                <td>Closed</td>
                                <td>Closed : Results</td>
                                <td>Support Error</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading" class="loading">Loading&#8230;</div>