<div *ngIf="auth.is.customer">
    <h3 class="alert alert-secondary text-center">The Silent Partner Customer Portal</h3>
    <div *ngIf="allAccounts.length > 0">
        <p>Your Accounts</p>
        <div class="" *ngFor="let account of allAccounts">
            <a [routerLink]="['../customerServices']" [queryParams]="{accountId: account._id}">{{account.data.accountName}}</a>
        </div>
        <p></p>
    </div>

    <div *ngIf="allAccounts.length == 0"><p>No Accounts yet.</p></div>

    <div class="btn btn-primary" routerLink="/createOrUpdateCustomerAccount">Create Account</div>

    <div *ngIf="loading" class="loading">Loading&#8230;</div>
</div>
