<div *ngIf="showAdminScreen">
    <p>Hello {{firstName}},</p>
    <h3 class="alert alert-secondary text-center">The Silent Partner Administration Portal</h3>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#employees" *ngIf="roleType == 'AdminL1'"
                (click)="getEmployeesList(0, '', true)">Employees</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#users" *ngIf="roleType == 'AdminL2'"
                (click)="getCustomerList(0, '', true)">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#accounts" (click)="getAccountList(0, '', true)">Accounts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#services">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#spare1">Spare</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#spare2">Spare</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <p></p>
        <p></p>
        <div class="tab-pane container active" id="dashboard">
            <h2>Dashboard</h2>
        </div>

        <div class="tab-pane container" id="employees">
            <table class="table table-bordered table-condensed">
                <thead>
                    <th>ID</th>
                    <th>UserName</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Years Active</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of allEmployees">
                        <td>{{ employee?._id }}</td>
                        <td>{{ employee?.data?.userName }}</td>
                        <td>{{ employee?.data?.firstName }}</td>
                        <td>{{ employee?.data?.lastName }}</td>
                        <td>{{ employee?.data?.email }}</td>
                        <td>01/01/2020</td>
                        <td>01/01/2020</td>
                        <td>Active</td>
                        <td>Active</td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination justify-content-center">
                <li class="page-item" *ngIf="showFirst">
                    <div class="page-link active" (click)="showDataByPage('first', 0, 'employee')">First</div>
                </li>
                <li class="page-item" *ngIf="showPrevious">
                    <div class="page-link active" (click)="showDataByPage('previous', 10, 'employee')">Previous</div>
                </li>
                <li class="page-item" *ngFor="let times of ' '.repeat(totalPages).split('');let i = index">
                    <div class="page-link active" (click)="showDataByPage('', i+'0', 'employee')">{{i+1}}</div>
                </li>
                <li class="page-item" *ngIf="showNext">
                    <div class="page-link active" (click)="showDataByPage('next', 10, 'employee')">Next</div>
                </li>
                <li class="page-item" *ngIf="showLast">
                    <div class="page-link active" (click)="showDataByPage('last', 0, 'employee')">Last</div>
                </li>
            </ul>
        </div>

        <div class="tab-pane container fade" id="users">
            <table class="table table-bordered table-condensed">
                <thead>
                    <th>ID</th>
                    <th>UserName</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Years Active</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of allCustomers">
                        <td>{{ customer?._id }}</td>
                        <td>{{ customer?.data?.userName }}</td>
                        <td>{{ customer?.data?.firstName }}</td>
                        <td>{{ customer?.data?.lastName }}</td>
                        <td>{{ customer?.data?.email }}</td>
                        <td>01/01/2020</td>
                        <td>01/01/2020</td>
                        <td>Active</td>
                        <td>Active</td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination justify-content-center">
                <li class="page-item" *ngIf="showFirst">
                    <div class="page-link active" (click)="showDataByPage('first', 0, 'customer')">First</div>
                </li>
                <li class="page-item" *ngIf="showPrevious">
                    <div class="page-link active" (click)="showDataByPage('previous', 10, 'customer')">Previous</div>
                </li>
                <li class="page-item" *ngFor="let times of ' '.repeat(totalPages).split('');let i = index">
                    <div class="page-link active" (click)="showDataByPage('', i+'0', 'customer')">{{i+1}}</div>
                </li>
                <li class="page-item" *ngIf="showNext">
                    <div class="page-link active" (click)="showDataByPage('next', 10, 'customer')">Next</div>
                </li>
                <li class="page-item" *ngIf="showLast">
                    <div class="page-link active" (click)="showDataByPage('last', 0, 'customer')">Last</div>
                </li>
            </ul>
        </div>

        <div class="tab-pane container fade" id="accounts">
            <table class="table table-bordered table-condensed">
                <thead>
                    <th>Account ID</th>
                    <th>Account Name</th>
                    <th>Linked Users</th>
                    <th>Linked Services</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    <tr *ngFor="let account of allAccounts">
                        <td>{{ account?.id }}</td>
                        <td>{{ account?.accountName }}</td>
                        <td>{{ account?.linkedUsers }}</td>
                        <td>{{ account?.linkedServices }}</td>
                        <td>Active</td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination justify-content-center">
                <li class="page-item" *ngIf="showFirst">
                    <div class="page-link active" (click)="showDataByPage('first', 0, 'account')">First</div>
                </li>
                <li class="page-item" *ngIf="showPrevious">
                    <div class="page-link active" (click)="showDataByPage('previous', 10, 'account')">Previous</div>
                </li>
                <li class="page-item" *ngFor="let times of ' '.repeat(totalPages).split('');let i = index">
                    <div class="page-link active" (click)="showDataByPage('', i+'0', 'account')">{{i+1}}</div>
                </li>
                <li class="page-item" *ngIf="showNext">
                    <div class="page-link active" (click)="showDataByPage('next', 10, 'account')">Next</div>
                </li>
                <li class="page-item" *ngIf="showLast">
                    <div class="page-link active" (click)="showDataByPage('last', 0, 'account')">Last</div>
                </li>
            </ul>
        </div>

        <div class="tab-pane container fade" id="services">
            DUMMY DATA
            <table class="table table-bordered table-condensed">
                <thead>
                    <th>Service ID</th>
                    <th>Service Type</th>
                    <th>Service Name</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Email</td>
                        <td>Marry Poppins Email</td>
                        <td>Active</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane container fade" id="spare1">
            <h2>Spare</h2>
        </div>

        <div class="tab-pane container fade" id="spare2">
            <h2>Spare</h2>
        </div>
    </div>
</div>
<div *ngIf="loading" class="loading">Loading&#8230;</div>