<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#page1">Page1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#page2">Page2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#page3">Page3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#page4">Page4</a>
        </li>
    </ul>
    <div class="tab-pane container active" id="page1">
        page2
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#page2">Page2</a>
            </li>
        </ul>
    </div>
    <div class="tab-pane container fade" id="page2">
        page1
        page3
        <a class="nav-link" data-toggle="tab" href="#page1">Page1</a>
        <a class="nav-link" data-toggle="tab" href="#page3">Page3</a>
    </div>
    <div class="tab-pane container fade" id="page3">
        page2
        page4
        <a class="nav-link" data-toggle="tab" href="#page2">Page2</a>
        <a class="nav-link" data-toggle="tab" href="#page4">Page4</a>
    </div>
    <div class="tab-pane container fade" id="page4">
        page3
        <a class="nav-link" data-toggle="tab" href="#page3">Page3</a>
    </div>
</div>